* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/rock20.gif');
    background-repeat: repeat;
    font-size: 1.05em;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Poppins', sans-serif;
}

header {
    display: block;
    position: relative;
    

}

.brand {
    display: inline-flex;
    margin: 35px 50px 0px 35px;
    width: 120px;
    height: 120px;
    border-radius: 18px;
    border-top: 6px solid #ffffffbb;
    border-left: 6px solid #0f0d0da3;
    box-shadow: -5px -5px 0px 4px #DC052D;
    transform: rotate(45deg);
    align-items: center;
    
    
   
    
    
     
    
    a {
        line-height: 1;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        color: white;
        text-shadow: -4px 0px 0px  #000000;
        transform: rotate(-45deg);
        text-decoration: none;
        width: 100px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        
        hr {    
        box-shadow: 3px -3px 0px #0f0d0da3;
        border-width: 5px;
        border-style: solid;
        display: block;
        margin-top: .5em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
        color:  #DC052D;
            }
        
    }

    
}

#menu {
    position: absolute;
    display: block;
    top: 30px;
    right: 40px;
    z-index: 5;
    
    
}

#menu-bar {
    width: 40px;
    height: 40px;
    margin: 30px 0px 20px 20px;
    cursor: pointer;
    
}

.bar {
    height: 5px;
    width: 100%;
    display: block;
    background-color: #DC052D;
    border-radius: 5px;
    transition: 0.3s ease;
    margin: 5px 0;
}

#bar1 {
    transform: translateY(-4);
    
}

#bar3 {
    transform: translateY(4);
}


.nav {
    position: absolute;
    right: 0px;
    top: 90px;
    display: none;
    list-style-type: none;
    text-align: end;
    text-decoration: none;
    transition: 0.3s ease; 
    z-index: 4;
}
.nav ul {
    
    padding: 0 22px;
    left:300px;
    top: 80px;
}

.nav li {
    display: block;
    padding: 0 12px;
    margin-top: 25px;
}

.nav a  {
    margin: 15px 5px;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
    width: 100wv;
    font-size: 2vmax;
    font-weight: bold;
    
     }

   .nav a:hover {
    text-decoration: 0.3vmax  #DC052D underline;
    
    }



.menu-bg {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    width: 40vw;
    height: 700px;
        
  }

.change {
        display: block;
        
    }
    
    .change .bar {
        background-color: white;
        
    }
    
    .change #bar1 {
        transform: translateY(10px) rotateZ(-45deg);
        
    }
    
    .change #bar2 {
        opacity: 0;
    }
    
    .change #bar3 {
        transform: translateY(-10px) rotateZ(45deg);
        
    }
    
    .change-bg {
        display: block;
        background-color: #DC052D;
        z-index: 3;
    }

.so-media {
    position: absolute;
    right:15px;
    top: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 110px;
    height: 110px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: rgba(250, 255, 255, 0.351);


    a {
        display: block;
        text-decoration: none;
        font-size: 1em;
        text-align: center;
        padding: 10px;
        color: white;
       
        
    }

    .twitter {
        background-color: #1DA1F2;
        border-radius: 10px;
        border: 2px solid white;
    }
    .facebook {
        background-color: #4267B2;
        border-radius: 10px;
        border: 2px solid white;
    }
    .instagram {
        background-color: #c92ecf;
        border-radius: 10px;
        border: 2px solid white;
    }
    .linkedin {
        background-color: #0072b1;
        border-radius: 10px;
        border: 2px solid white;
    }
    a:hover {
        animation-name: example;
        animation-duration: 1s;
    }

    @keyframes example {
        from {transform: rotate(0deg);}
        to {transform: rotate(720deg);}
      }
}

#landing_page {
    background-image: url('/images/landing\ page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vmax;
    display: block;
   
    

    #discr-p  {
        display: block;
        padding-top: 20vh;
               
        p {
            
            color: white;
            padding: 20px;
            text-shadow: 2px 2px black;
            font-size: 4vmax;
            font-weight: bolder;
            animation-name:discr ;
            animation-duration: 7s;
        }
            @keyframes discr {
            from {opacity: 0;}
            to {opacity: 1;}
             }
      
          
          #click {
              display: block;
              margin-left: 20px;
              width: max-content;
              
              a {
                  display: inline;
                  padding: 7px 16px;
                  text-decoration: none;
                  font-size: 1.2em;
                  font-weight: bold;
                  text-shadow: 1px 1px black;
                  color: white;
                  border: 3px solid white;
                  border-radius: 100px;
                  text-align: center;
                  animation-name: click;
                  animation-duration: 3s;
                 
              }

              @keyframes click {
                from {transform: translateY(-150px);}
                to {transform: translateY(0px);}
                }

            } 
     }

}

#details {
    padding: 50px;
    display: block;
    background-color: #0000008c;
    
    
    
    .who, .what {
        display:block;
        text-shadow: 1px 1px black;
        text-align: center;
        color: #fffcff;
        margin: 40px 40px;
        
        p {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            
        }
       
       
    }
    
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
       .tiles-photo
     {
        margin: 20px;
        background-color: hsla(0, 0%, 93%, 0.931);
     }

     .tile-image a, img {
        display: block;
        width: 100%;
        padding-bottom: 20px;
           
     }

        

    h3 {
        display: block;
        padding: 0px 20px;
        color:  brown;
        
    } 

     hr {
        width: 60px;
        margin-left: 20px;
        float: left;
        border: 2px solid brown;
     }

     p {
        display: block;
        clear: both;
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
     }


}

.testimonials {
    display: inline-block;
    width: 100%;
    height: 750px;
    padding: 20px 0;
    background-color: #DC052D; 
    
    .testimonials-top {
        height: 170px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 3vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
       
   

   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       height: 450px;
       padding: 0 50px;
       width: 94%;
       margin: 20px auto;
       border-radius: 50px;
       background-color: #fffcff;


       .testimonials-sub {
           position: relative;
           top: -90px;
           display: block;
           width: 230px;
           margin-right:auto;
           margin-left: auto;
           background-color: #DC052D;
           border-radius: 50px;
           box-shadow: 8px -8px 10px rgb(68, 63, 63);
            

         q, p {
            display: block;
            padding: 20px 20px 20px 30px;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
            }

            img {
                display: block;
                width: 150px;
                height: 150px;
                margin: 0 auto;
                border-radius: 50%;
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
   }
}


#footer-section {
    position: relative;
    display: block;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
   
    
    h4 {
        margin: 7px 0px;
                    
    }
    
    .footer-link ul {
        
        list-style-type: none;
        a {
            display: block;
            background-color: rgba(0, 0, 0, 0.491);
            color: white;
            margin-top: 5px;
            padding: 10px 5px;
            text-decoration: none;
            font-weight: bold;
        
           }

           a:hover {
            background-color: #d33333;
        }

    }

    #about_us {
        display:flex;
        flex-wrap: wrap;
       

        #footer-sub {
            margin: 0 50px
        }
    }

   
    #page-designer {
        display: flex;
        padding: 15px;
        color: #d2c1c4e1;
               

        em {
            
            color: rgb(249, 248, 248);
            text-shadow: 1px 1px rgb(0, 0, 0);
            font-weight: bold;
    
        }
    }
    
    #footer-media {
        display: inline-flex;
        position: relative;
        
        
        
    }

    #footer-media div {
        display: inline-flex;
        text-decoration: none;
        border: 2px solid;
        border-radius: 7px;
        
        a {
            display: inline-block;
            padding: 10px;
            text-decoration: none;
            color: #000;
        }
    }

}

//******************Contact page CSS *********************//

.contact-section {
    padding: 50px 0;
    background-color: #DC052D;
    color: white;
    text-shadow: 1px 1px black;
     
        h3 {
            margin-bottom: 60px;
            text-align: center;
        }
    
    .contact {
        display: block;
        padding: 5px 60px;
        border: 3px solid;
        width: -moz-fit-content;
        width: -webkit-fit-content; 
        margin: 0px auto;
    
        
        }
        
        label, input, textarea {
            display: block;
            width: 60vmin;
            margin: 0px auto;
            border-radius: 5px;
        }
        
        input,textarea {
            padding: 10px 5px;
            border: 2px solid white;
            background-color: rgb(235, 203, 203);
        }
    
        input:hover {
            background-color: white;
        }
    
        textarea:hover {
            background-color: white;
        }
    
         #sub-button {
            margin: 10px 0;
            cursor: pointer;
            width: 100px;
            padding: 8px 0;
            font-size: 1em;
    
            &:hover {
                padding:12px 0;
                background-color: #00000000;
                color: white;
                font-weight: bolder;
            }
            
         }
    
    
         div.map {
            display: block;
            width: 100%;
            height: 300px;
            background-color: white;
         }
    
    }
    
    //*************************PROGRAMS CSS*****************************//
        
    
       .program-campus {
        position: relative;
        display: block;
        background-image: url('/images/campus.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;
        
        }
        .program-tag {
            display: block;
            position: absolute;
            left: 10vw;
            right: 10vw;
            top: 50px;
            color: white;
            text-shadow: 2px 2px black;
            height: auto;
            padding: 40px;
            background-color: rgba(248, 249, 245, 0.37);
            outline: 4px solid rgb(69, 49, 49);
            outline-style: dashed;
            border-radius: 20px;
    
            h3 {
                font-size: 4vw;
                text-align: center;
            }
    
            P {
                font-size: 2vw;
                margin: 10px 0;
                
            }
        }
        
        .search-section {
            display: block;
            background-color: rgba(0, 0, 0, 0.581);
            border-radius: 15px;
            padding: 30px;
            margin: 0 auto;
            height: auto;
            width: fit-content;
            
        }
    
        .programs-search {
            display: inline-block;
            align-items: center;
           
        }    
        
        input {
                
                width: 30vw;
                margin: 5px auto;
                padding: 8px;
                font-size: 1em;
                 
            }
    
            #search-label {
                display: block;
                text-align: center;
                font-size: 2.4vmax;
                padding: 0 5px;
            }
                
            button {
                width: 50px;
                padding: 8px;
                background-color: #DC052D;
                color: white;
                font-size: 1em;
                border-color: white;
                vertical-align: middle;
            }
            
    
            
    
    //**********************Admission page CSS*************//
    
    
    .admin {
       display: block;
       padding: 50px;
       width: 100%;
       background-color: #DC052D;
    
     
       
       .admin-image {
            position: relative;
            display: block;
           
           img {
               display: block;
               width: 60vw;
               margin: 20px 0;
               
               
            }
        }
    
       p {
        display: block;
        position: absolute;
        top: -6vh;
        left: 55%;
        width: 36vw;
        background-image: url(/images/rock20.gif);
        color: black;
        padding: 3vw;
        text-shadow: 0px 1px rgb(126, 109, 109);
        font-size: 2vw;
        box-shadow: 30px 30px #a32a2a ;
       
       }
    }
        #admin-header {
            display: flex;
            height: 15vw;
            font-size: 4vw;
            align-items: center;
            margin-left: 3vw;
            color: white;
            text-shadow: 2px 1px black;
        }
    
    .admin-tiles {
        display: flex;
        padding: 10px;    
        background-color: #DC052D;
        
           .admin-tiles-photo {
            display: block;
            margin: 10px 10px;
            background-image: url('/images/rock20.gif');
              padding-bottom: 10px;
        }
    
               .admin-cover {
                position: relative;
                
               }
         
           #admin-img {
            display: block;
            width: 100%;
            
            
           } 
    
           .admin-card{
            position: absolute;
            top: 0%;
            left: 0%;
            width:100%;
            height: 100%;
            display: flex;
            font-size: 2vw;
            
            align-items: center;
            justify-content: center;
            background-image: url('/images/rock20.gif');
            opacity: .9;
            border: 5px solid white;
            text-shadow: 2px 1px black;
            transform: translateY(100%);
            color: white;
            transition: transform ease-out 1s;
            visibility: hidden;
           
           }
    
           .admin-cover:hover .admin-card {
            transform: translateX(0);
            transition: transform ease-out 1s;
            visibility: visible;
            
           }
    
           
         p {
            display: block;
            padding: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
         }
    
         a {
            display: block;
            text-decoration: none;
            color: white;
            text-shadow: 1px 1px black;
            text-align: center;
            font-size: 2.2vmin;
            font-weight: bold;
            width: fit-content;
            margin: 40px;
            padding: 8px 15px ;
            border-radius: 25px;
            outline-color: rgb(186, 114, 114);
            outline-width: 8px;
            outline-style: outset ;
            outline-offset: 2px;
            background-color: #d33333;
            
         }
    
         a:hover {
            box-shadow: 0 0 6px 6px rgb(0, 0, 0);
         }
    }
    


/*************Display breaking point*********************/
/******* Extra Large device*****/
@media (min-width: 2560px) {
    
    #menu-bar {
        display: none;
    }
   
    #nav {
        display: flex;
        right: 34vmax;
        
        li  {
            display: inline;
            
            a {
                font-size: 1vmax;
            }
        }
    
    
  }

  .testimonials {
    display: inline-block;
    width: 100%;
    height: 1150px;
    padding: 20px 0;
    background-color: #DC052D; 
    
    .testimonials-top {
        height: 300px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 3vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
       
   

   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       height: 650px;
       padding: 0 50px;
       width: 50%;
       margin: 20px auto;
       border-radius: 50px;
       background-color: #fffcff;


       .testimonials-sub {
           position: relative;
           top: -90px;
           display: block;
           width: 330px;
           margin-right:auto;
           margin-left: auto;
           background-color: #DC052D;
           border-radius: 50px;
           box-shadow: 8px -8px 10px rgb(68, 63, 63);
           padding: 50px 20px ; 

         q, p {
            display: block;
            padding: 20px 20px 20px 30px;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 1px black;
            }

            img {
                display: block;
                width: 250px;
                height: 250px;
                margin: 0 auto;
                border-radius: 50%;
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
   }
}



  #footer-section {
    position: relative;
     
    #page-designer {
        display: block;
        text-align: center;
       
    }
    
    #footer-media {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 70px;
    }

   }

        #landing_page {
        height: 45vmax;
        
            #discr-p  {
                padding-top: 54vh;
                 p {
                    font-size: 4em;
                    display: block;
                    width: 1000px;
                 }
                    
                #click {
                    display: block;
                    margin-left: 20px;
                    width: max-content;
                    } 
            }

        }
}

  
  
  /*******Large device*****/
  @media (min-width: 1440px) and (max-width: 2559px) {
    #menu-bar {
        display: none;
    }
   
    
    #nav {
        display: flex;
        right: 20vmax;
        
        
        li  {
            display: inline;
            
            a {
                font-size: 1.8vmax;
            }
        }
    
    
  }

  #landing_page {
    height: 45vmax;
    
        #discr-p  {
            padding-top: 51vh;
             p {
                font-size: 2em;
                display: block;
                width: 900px;
             }
                
            #click {
                display: block;
                margin-left: 20px;
                width: max-content;
                } 
        }

    }
    .testimonials {
        display: inline-block;
        width: 100%;
        height: 750px;
        padding: 20px 0;
        background-color: #DC052D; 
        
        .testimonials-top {
            height: 170px;
    
            h3 {
                text-align: center;
                margin-bottom: 50px;
                font-size: 3vw;
                color: white;
                text-shadow: 2px 2px black;
               }
        }
           
       
    
       .testimonials-main {
           display: grid;
           grid-template-columns: repeat(3,1fr);
           height: 450px;
           padding: 0 50px;
           width: 70%;
           margin: 20px auto;
           border-radius: 50px;
           background-color: #fffcff;
    
    
           .testimonials-sub {
               position: relative;
               top: -90px;
               display: block;
               width: 260px;
               margin-right:auto;
               margin-left: auto;
               background-color: #DC052D;
               border-radius: 50px;
               box-shadow: 8px -8px 10px rgb(68, 63, 63);
                
    
             q, p {
                display: block;
                padding: 20px 20px 20px 30px;
                text-align: center;
                color: white;
                text-shadow: 1px 1px 1px black;
                }
    
                img {
                    display: block;
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    border-radius: 50%;
                }
    
                h4 {
                    text-align: center;
                    margin-bottom: -20px;
                   }
           }
       }
    }
    



  #footer-section {
    position: relative;
     
    #page-designer {
        display: block;
        text-align: center;
       
    }
    
    #footer-media {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 70px;
    }

   }



} 
  /*******medium device*****/
  @media (min-width: 1024px) and (max-width: 1439px) {
    #menu-bar {
        display: none;
    }
   
    
    #nav {
        display: flex;
        right: 15vmax;
        
        li  {
            display: inline;
            
            a {
                font-size: 1.9vmax;
            }
        }
    

    }
    
    .testimonials {
        display: inline-block;
        width: 100%;
        height: max-content;
        padding: 20px 20px;
        background-color: #DC052D; 
        
        .testimonials-top {
            height: 220px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 5vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
        
   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       height: 530px;
       border-radius: 40px 40px 60px 60px;
       padding: 0;
       margin: 0 auto;
       width: 72%;


       .testimonials-sub {
           width: 19vw;
           margin:20px auto;
           padding-top: 50px;
            

            img {
                width: 120px;
                height: 120px;
                
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
    }
    } 

    #footer-section {
        position: relative;
         
        #page-designer {
            display: block;
            text-align: center;
           
        }
        
        #footer-media {
            display: block;
            position: absolute;
            right: 20px;
            bottom: 70px;
        }
    
       }
       #landing_page {
        height: 45vmax;
        
            #discr-p  {
                padding-top: 40vh;
                 p {
                    font-size: 1.5em;
                    display: block;
                    width: 500px;
                 }
                    
                #click {
                    display: block;
                    margin-left: 20px;
                    width: max-content;
                    } 
            }

        }


        
}

  /*******tablet device*****/
  @media (min-width: 768px) and (max-width: 1023px) {
    #menu-bar {
        display: none;
    }
   
    
    #nav {
        display: flex;
        right: 12vmax;
        
        li  {
            display: inline;
            
            a {
                font-size: 1.9vmax;
            }
        }
    

    }
    .testimonials {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 20px 20px;
        background-color: #DC052D; 
        
        .testimonials-top {
            height: 140px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 5vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
        
   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(3,1fr);
       height: 470px;
       border-radius: 25px 25px 80px 80px;
       padding: 0;
       margin: 0;
       width: 100%;


       .testimonials-sub {
          width: 28vw;
           margin:20px auto;
            

            img {
                width: 120px;
                height: 120px;
                
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
   }
    


}

    #footer-section {
        position: relative;
         
        #page-designer {
            display: block;
            text-align: center;
           
        }
        
        #footer-media {
            display: block;
            position: absolute;
            right: 20px;
            bottom: 70px;
        }
    
       }
       #landing_page {
        height: 45vmax;
        
            #discr-p  {
                padding-top: 39vh;
                 p {
                    font-size: 1.5em;
                    display: block;
                    width: 500px;
                 }
                    
                #click {
                    display: block;
                    margin-left: 20px;
                    width: max-content;
                    a {
                        font-size: 1em;
                     }

                    } 
            }

        }

        .admin-tile-details {
            a {
                font-size: 2vmax;
            }
        }
}


/*******small device*****/
@media (min-width: 425px) and (max-width: 767px) {
    .brand {
        margin: 15px 0px -5px 25px;
        width: 65px;
        height: 65px;
        border-top: 2px;
        border-left: 2px;
        box-shadow: -2px -2px 0px 1px #DC052D;
                
        a {
            font-size: .8em;
            text-shadow: -2px 0px 0px  #000000;
            
            hr {    
            box-shadow: 1px -1px 0px #0f0d0da3;
            border-width: 2px;
            margin-top: .3em;
            margin-bottom: 0em;
            
                }
        }
    
    }
    
     
    #menu { top: 0px;}
    
    .so-media {
        display: none;
    }
   
    
    
  .tiles {
    display: block;
   

     .tile-image a, img {
        display: block;
        width: 100%;
        padding-bottom: 20px;
           
     }

 }

    .nav a:hover {
        display: block;
        width: 35vw;
        background-color: #0000008f;
        text-align: center;
        padding: 15px 30px;
        border-radius:  25px 0 0 25px;
        text-decoration: none;
    }

    #details {
        padding: 5px;
        
         
        .who, .what {
            display:block;
            text-shadow: 1px 1px black;
            
            
            p {
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.2em;
                
            }
           
           
        }
        
    }

    #landing_page {
        height: 45vmax;
        
            #discr-p  {
                padding-top: 15vh;
                 p {
                    font-size: 1em;
                    display: block;
                    width: 300px;
                 }
                    
                #click {
                    display: block;
                    margin-left: 20px;
                    width: max-content;
                     a {
                        font-size: 1em;
                     }
                    } 
            }

        }
        
    #footer-section {
    
            .footer-link {
                display: block;
                width: 100%;
            }
    
            #about_us {
                display: block;
                
                #footer-sub {
                    margin: 20px 0px
                    }
            }

            #footer-media {
                display: block;
                        
            }

   
    }


           
.testimonials {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: #DC052D; 
    
    .testimonials-top {
        height: 100px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 5vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
        
   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(1,3fr);
       height: 1480px;
       border-radius: 25px 25px 80px 80px;
       padding: 0;
       width: 85%;
    


       .testimonials-sub {
          width: 58vw;
           margin:20px auto;
            

            img {
                width: 150px;
                height: 150px;
                
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
   }
}

.admin-tiles {
    display: block;

}
}

/*******extra small device*****/
@media (min-width: 0px) and (max-width: 424px) {


    
 .brand {
    margin: 15px 0px -5px 25px;
    width: 65px;
    height: 65px;
    border-top: 2px;
    border-left: 2px;
    box-shadow: -2px -2px 0px 1px #DC052D;
            
    a {
        font-size: .8em;
        text-shadow: -2px 0px 0px  #000000;
        
        hr {    
        box-shadow: 1px -1px 0px #0f0d0da3;
        border-width: 2px;
        margin-top: .3em;
        margin-bottom: 0em;
        
            }
    }

}

 
#menu { top: 0px;}


    .so-media {
        display: none;
    }
   
    
    
  .tiles {
    display: block;
   

     .tile-image a, img {
        display: block;
        width: 100%;
        padding-bottom: 20px;
           
     }

 }

    .nav a:hover {
        display: block;
        width: 35vw;
        background-color: #0000008f;
        text-align: center;
        padding: 15px 30px;
        border-radius:  25px 0 0 25px;
        text-decoration: none;
    }

    #details {
        padding: 5px;
        
         
        .who, .what {
            display:block;
            text-shadow: 1px 1px black;
            
            
            p {
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 1.2em;
                
            }
           
           
        }
        
    }
    #landing_page {
        height: 45vmax;
        
            #discr-p  {
                padding-top: 15vh;
                 p {
                    font-size: 1em;
                    display: block;
                    width: 300px;
                 }
                    
                #click {
                    display: block;
                    margin-left: 20px;
                    width: max-content;
                     a {
                        font-size: .8em;
                     }
                    } 
            }

        }

        
    .testimonials {
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 20px 20px;
        background-color: #DC052D; 
        
        .testimonials-top {
            height: 100px;

        h3 {
            text-align: center;
            margin-bottom: 50px;
            font-size: 5vw;
            color: white;
            text-shadow: 2px 2px black;
           }
    }
        
   .testimonials-main {
       display: grid;
       grid-template-columns: repeat(1,3fr);
       height: 1530px;
       border-radius: 25px 25px 65px 65px;
       padding: 0;
       margin: o;


       .testimonials-sub {
          width: 65vw;
           margin:20px auto;
            

            img {
                width: 120px;
                height: 120px;
                
            }

            h4 {
                text-align: center;
                margin-bottom: -20px;
               }
       }
   }
}

        

        
    #footer-section {
    
            .footer-link {
                display: block;
                width: 100%;
            }
    
            #about_us {
                display: block;
                
                #footer-sub {
                    margin: 20px 0px
                    }
            }

            #footer-media {
                display: block;
                        
            }

   
    }
        
    .admin-tiles {
        display: block;

       
    }
    

}

